form img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    background-color: #a6cceb;
    border: none;
    color: rgb(8, 8, 8);
    padding: 9px 25px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button:hover {opacity: 1}
button:active {
    background-color: #b9beed;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}