{% load static %}

<!DOCTYPE html>
<html lang="fr-fr">
<head lang="fr">
    <title>Détection de tweets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(229, 229, 234);
        }

        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            animation: fadeIn 1s ease-in-out;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }
        img {
            width :90%;
        }
        label {
            font-weight: bold;
        }
        button {
            background-color: #a6cceb;
            border: none;
            color: rgb(8, 8, 8);
            padding: 9px 25px;
            border-radius: 12px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }
        button:hover {opacity: 1}
        button:active {
            background-color: #b9beed;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        input {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .result {
            display: {% if classification %}block{% else %}none{% endif %};
            margin-top: 20px;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Détection de tweets</h1>
        <form method="post">
            {% csrf_token %}
            <img src="{% static 'TweetApp/SENTIMENT.png' %}" alt="sentiment">
            <input type="text" name="tweet" placeholder="Tweet...">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Détecter</button>
            </div>
        </form>
        {% if classification %}
            <div class="result" id="result-container">
                Résultat de la détection : {{ classification }}
            </div>
        {% endif %}
    </div>
</body>
</html>
